name: CI
on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ 1.17.x, stable, oldstable ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
          check-latest: true
      - run: go mod download
      - run: go vet ./...
      - run: go test ./... -v

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: true
      - uses: golangci/golangci-lint-action@v9
        with:
          version: latest
